/*Take specific HTML tags and style them*/

/*Change how the body tag is presented*/
body {
    background: green; /*Can also use hexcodes for colors*/
    color: blue; /*A property*/
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
}

/*Link to a style sheet
<head>
    <link rel="stylesheet" href="styles.css"/>
</head>
*/

/*Change image field*/
img {
    display: block;
    width: 300px;
    margin-top: 10px;
}

/*Display block stacks on top*/
/*Display inline stacks side to side*/

/*Can also target divs*/
div {
    margin-top: 50px;
}
/*This affects ALL divs, so we want to use classes instead for different divs with different styling*/
/*<div class = "main">*/
.main {
    margin-top: 50px;
}

/*Change a class value*/
.googleimg {
    margin-top: 10px;
}

/* Can have classes on individual HTMl tags, not just divs
<img class="googleimg" src="google.png"/>
*/

/*Margins*/
.red {
    margin-top: 50px;
    margin-bottom: 50px;
} /*Margin top and margin bottom will override, pick the larger one*/

/*Add space between logo and search field*/
.logo-img {
    display: block;
    width: 300px;
    margin-bottom: 50px;
}

.search-input {
    display: block;
    width: 400px;
}

/*Center margins*/
img {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

/*Padding*/
.card {
    color: #222222;
    background: lightgray;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-left: auto;

    padding: 20px /*Creates space between text and div border*/
    /*Padding top, bottom, left, and right also exist for individual sides*/
    /*Margins live on the outside, padding lives on the inside*/
}

/*Change padding*/
.card {
    color: #222222;
    background: lightgray;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /*
    Challenge:
    Add padding to make our card look like
    the provided design */
    padding-top: 250px;
    padding-right: 200px; 
}

/*Border*/
.card {
    border: 2px solid red; /*Size, style, color*/
    border-radius: 30px; /*Softer corners*/
}

/*Fix the border*/
.card {
    color: #222222;
    background: lightgray;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Challenge:
    Change the values to match the design
    in the slide */
    border: 2px solid #222222;
    border-radius: 20px;
    
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

/*The box model
Margin
Border
Padding
Content
*/

/* 
Challenge: 
Make the button look like Twitter's "Following" button!
(Except for the font)

Hints:
border color: #cfd9de
text color: #0f1419
Remember the font-weight!
*/
.twitter-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

    border: 1px solid #cfd9de;
    border-radius: 20px;

    background: white;
    color: #0f1419;
    font-weight: bold;   
}

.search-input {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    /*
    Challenge: 
    Design the search field according to the spec
    */
    line-height: 24px; /*Recommended to use over height*/

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

/*
Challenge:
Center the button and add some space above it
*/
.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    /*
    Challenge:
    Style the button according to the provided design.
    Hint: Use padding, font-size, border-radius, border, and background
    
    PS: 
    The real background is #f8f9fa but it is failing our contrast check. 
    So here's the background color we will use: #dfe1e5
    */
    background: #dfe1e5;
    border: none;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14pt;
}

/*Flexbox*/
.nav-wrapper {
    display: flex;
    justify-content: center;
} /*Forces items in a container into one row*/

/*
Challenge:
Wrap the buttons in a flexbox div and center them.
Give the div a "btn-wrapper" class.
*/
/*
<div class="btn-wrapper">
    <button class="btn">Google Search</button>
    <button class="btn">I'm Feeling Lucky</button>
</div>
*/
.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    margin-left: 5px;
    margin-right: 5px;
}


/*google Recap
CSS Syntax
Inline vs. Block
Margins
Padding
Borders
Divs
Classes
Centering
Flexbox
*/

/*More on Flexbox
Flexbox only turns DIRECT children into columns, but not nested children
    <div class="pricing">
        <div> This is a flexbox column
            <h2>For individuals</h2>
            <ul>
               <li>1 gb</li>
                <li>No support</li>
            </ul>
            <button>Buy now</button>
        </div>
            
        <div> This is a second flexbox column
            <h2>For enterprise</h2>
                <ul>
                    <li>10 gb</li>
                <li>Priority support</li>
                </ul>
            <button>Contact us</button>
        </div>
    </div>
*/

/*Utility class*/
/*Utility classes usually have one CSS value. They can be inherited through divs and you can use multiple classes in a single element*/
/*<div class="card italic"> Uses both the card and italic classes*/

/*CSS Inheritance*/
/*
Inheritance makes code DRY (Don't Repeat Yourself), generally has less bugs, and is more efficient
Inheritance works for all children not just direct children
*/

/*Shortcut - Ctrl+D highlights all instances of a selected item*/

/*Side Borders*/
/*Borders can be added on individual sides with border-top and other sides, similarly to margins and padding*/

/*Web safe fonts*/
/*Web safe fonts do not beed to be sent over the network as most machines have these fonts pre-installed*/

/*Fonts*/
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Font family changes the font to the first one in the list, then continues down until it finds one*/
/*sans-serif contains multiple fonts, will pick one*/

/*Margin and Padding Shorthands*/
/*margin is the same as using all sides of margin
Can use margin with the values given
Can also use margin with 2 values for top/bottom and left/right
Works with padding as well
*/
body {
    margin: 10px 20px 30px 40px;
    /*Top, Right, Bottom, Left*/
    margin: 10px auto;
    /*Top/bottom, Right/left*/
    /*Order of a clock*/
}

/*Shortcut, Ctrl+K+C to comment out highlighted text*/