/*Need to pick fonts for everything

Font Ideas:


*/

body {
    background: #86BBD8; /*Sky Reflection*/
    margin: 0;
}

.about-me {
    display: flex;
    width: 600px;
    margin: 10px auto;
    padding: 20px;
    justify-content: space-around;
    background: #336699; /*Baltic Blue*/
    border-bottom: 8px solid #DAF7DC;
    border-radius: 4px;
}

#linkedin-github {
    display: flex;
    width: 400px;
    margin: 0 auto;
    justify-content: space-around;
}

.inline-list {
    display: inline-block;
}

#avatar {
    width: 200px;
}

/* .nav-bar {
    display: flex;
    justify-content: left;
    padding-left: 10px;
    background: #060317;
    margin-bottom: 10px;
}

.nav-bar-select {
    background: white;
    margin-left: 5px;
    margin-right: 5px;
    border: 4px solid black;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;

} */

/* .fancy-button {
    display: block;
    width: 100px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;

    border: 3px solid black;
    border-radius: 8px;

    background: blue;
    color: white;

    padding: 5px;

    line-height: 5px;
} */

#project-section {
    border: 4px solid #2F4858; /*Charcoal Blue*/
    border-radius: 8px;
    margin: 0 10px 20px 10px;
    padding: 0 20px 20px 20px;
    text-align: center;
}

.project-wrapper {
    display: block;
    border: 4px solid #9EE493; /*Light Green*/
    border-radius: 8px;
    margin: 0 0 40px;
    background: #DAF7DC; /*Frosted Mint*/

}

.text-align-left {
    text-align: left;
    margin-left: 30px;
}

/* .text-align-center {
    text-align: center;
} */

.button-padding {
    padding: 5px;
}
/* 
.trails-text {
    width: 1355px;
    height: 177px;
    background: white;
    display: center;
    margin-left: auto;
    margin-right: auto;
    
}

.trails-text-top {
    font-family: 'Montserrat', sans-serif;
    font-size: 50pt;
    color: #9e1e08;
    font-weight: bold;
}

.trails-text-bottom {
    font-family: 'Montserrat', sans-serif;
    font-size: 50pt;
    color: #d48428;
    font-weight: bold;
} */

/*
Things to add: 
Hovering
Animations
Color Palette
*/